<form (ngSubmit)="onSubmit()">
    <div class="input-group">
        <p>
            <label for="initial-investment">Initial Investment</label>
            <input id="initial-investment" type="number" name="initial-investment" [(ngModel)]="enteredInitialInvestment"/>
        </p>
        <p>
            <label for="anual-investment">Anual Investment</label>
            <input id="anual-investment" type="number" name="anual-investment" [(ngModel)]="enteredAnualInvestment"/>
        </p>
    </div>
     <div class="input-group">
        <p>
            <label for="expected-return">Expected Return</label>
            <input id="expected-return" type="number" name="expected-return" [(ngModel)]="enteredExpectedReturn"/>
        </p>
        <p>
            <label for="duration">Duration</label>
            <input id="duration" type="number" name="duration" [(ngModel)]="enteredDuration"/>
        </p>
    </div>
    <p>
        <button type="submit">Calculate</button>
    </p>
</form>